*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    background-color: blue;
    color: white;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    margin: 1rem 0;
}
.container p{
    font-weight: bold;
}
.container img{
    width: 5rem;
}
.timer-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid white;
    width: 50%;
}
.columns{
    font-size: 2rem;
}
.timer-container p{
    margin: 0 0 0.9rem;
}